[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "python/utils"]
	path = python/utils
	url = https://github.com/malramsay64/python-utils.git
