# Plug managed directory
vim/vim.symlink/plugged
vim/vim.symlink/autoload/plug.vim.old
vim/vim.symlink/autoload/plug.vim

# Ignoring most spell files
vim/vim.symlink/spell
*.spl

# Ignoring vim files
.netrwhist
vim/vim.symlink/view
vim/vim.symlink/bundle

# Ignoring taskwarrior config and data files
task/task.symlink/*.pem
task/task.symlink/*.data
task/task.symlink/taskrc.local
task/task.symlink/.*

# Ignore tmux plugins
tmux/tmux.symlink/plugins
tmux/tmux.symlink/resurrect

# zsh files
zsh/sourceables.sh
