[submodule "task/task.symlink/hooks/default-time"]
	path = task/task.symlink/hooks/default-time
	url = https://github.com/tbabej/taskwarrior-default-date-time-hook.git
[submodule "task/task.symlink/taskpirate"]
	path = task/task.symlink/taskpirate
	url = https://github.com/tbabej/taskpirate.git
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bash/z"]
	path = bash/z
	url = https://github.com/mafredri/z
[submodule "python/utils"]
	path = python/utils
	url = https://github.com/malramsy64/python-utils.git
