[submodule "task/task.symlink/hooks/default-time"]
	path = task/task.symlink/hooks/default-time
	url = https://github.com/tbabej/taskwarrior-default-date-time-hook.git
[submodule "task/task.symlink/taskpirate"]
	path = task/task.symlink/taskpirate
	url = https://github.com/tbabej/taskpirate.git
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "python/utils"]
	path = python/utils
	url = https://github.com/malramsay64/python-utils.git
[submodule "config/nvim/site/pack/packer/opt/packer.nvim"]
	path = config/nvim/site/pack/packer/opt/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
