# Plug managed directory
vim/vim.symlink/plugged

# Ignoring most spell files
vim/vim.symlink/spell
*.spl

# Ignoring vim files
.netrwhist

# Ignoring taskwarrior config and data files
task/task.symlink/*.pem
task/task.symlink/*.data
task/task.symlink/taskrc.local

