snippet article "Document class" b
\documentclass[a4paper, 12pt]{${1:article}}

\usepackage{fullpage}
\usepackage{graphicx}
\usepackage{amsmath}
\usepackage[australian]{babel}

\title{$2}

\author{${3:Malcolm Ramsay}}
$0
endsnippet
