[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "swaymsg output \* bg /usr/share/backgrounds/gnome/adwaita-night.jpg fill"

[Install]
WantedBy=sway-session.target
