snippet article "Document class" b
\documentclass[a4paper, 12pt]{${1:article}}

\usepackage{fullpage}
\usepackage{graphicx}
\usepackage{amsmath}
\usepackage[australian]{babel}

\title{$2}

\author{${3:Malcolm Ramsay}}

\begin{document}

\maketitle

$0
\end{document}
endsnippet

snippet biber "Biblatex package with beamer" b
\usepackage[
	backend=biber,
	style=nature,
	url=false,
	doi=false,
	eprint=false,
	isbn=false
	]{biblatex}
\addbibresource{${1:bibliography.bib}}
$0
endsnippet
